# docker-compose.yml (caddy service)
environment:
  DOMAIN: ${DOMAIN}
  TZ: ${TZ}

# /moodle_web/Caddyfile
{
	email ak.adeojo@gmail.com
}
{$DOMAIN} {
    reverse_proxy moodle:8080
    encode zstd gzip
    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
    }
}
